{{!-- Footer for both home and save pages --}}
<section id="footer">
    <div class="card">
        <div class="card-header"></div>
        <div class="card-body">
            <blockquote class="blockquote">
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
            </blockquote>
        </div>
    </div>    
</section>