<section id="navbar">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">Navbar</a>
        
        <form class="form-inline">
            <a id="scrape" class="btn btn-outline-success m-2 my-sm-0" type="button">Scrape New Articles</a>
            <a id="deleteAll" class="btn btn-outline-success m-2 my-sm-0" type="button">Delete All Articles</a>
            <a class="btn btn-outline-success m-2 my-sm-0" href="/savedPage/" type="button">Your Saved Articles</a>
        </form>
    </nav>
</section>
    
<section id="jumbotron">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Fluid jumbotron</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
    </div>
</section>