{{!-- Navbar for homepage --}}

<section id="navbar">
    <nav class="navbar navbar-light">
        <p class="navbar-brand my-0 text-light">SCRAPE THE NEWS</p>
        <form class="form-inline">
            <button id="scrape" class="btn btn-success m-2 my-sm-0" type="button">Scrape New Articles</button>
            <button id="deleteAll" class="btn btn-danger m-2 my-sm-0" type="button">Delete All Articles</button>
            <a class="linkButtons" href="/savedPage/"><button class="btn btn-light text-primary m-2 my-sm-0" type="button">Your Saved Articles</button></a>
        </form>
    </nav>
</section>
    
<section id="jumbotron">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="mainHeader display-1 font-weight-bolder text-center">Mongo Scraper</h1>
            <p class="leadHeader lead font-weight-bold text-center">NPR Edition</p>
        </div>
    </div>
</section>