<section id="navbar">
    <nav class="navbar navbar-light">
        <p class="navbar-brand my-0 text-light">SCRAPE THE NEWS</p>
        <form class="form-inline">
            <a class="linkButtons" href = "/"><button class="btn btn-light text-primary m-2 my-sm-0" type="button">All Articles</button></a>
        </form>
    </nav>
</section>
    
<section id="jumbotron">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="mainHeader display-1 font-weight-bolder text-center">Mongo Scraper</h1>
            <p class="leadHeader lead font-weight-bold text-center">NPR Edition</p>
        </div>
    </div>
</section>