{{!-- Home Page --}}
{{>nav}}

<section id="articleSection">
        <div class="container savedArticleContainer">
            <div class="row" id="articleRow"></div>
        </div>
    </section>

{{>footer}}