{{>nav}}

<section id="articleSection">
    <h1 class="articleHeader text-center bg-warning">Scrape the news to get today's top headlines!</h1>
    <div class="container savedArticleContainer">
        <div class="row" id="articleRow"></div>
    </div>
</section>

{{>footer}}