{{>nav}}

<section id="articleSection">
        <div class="container">
            <div class="row" id="articleRow">
                {{!-- <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="Test Image">
                    <div class="card-body">
                        <h5 class="card-title articleTitle">Card title</h5>
                        <p class="card-text articleSummary">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text articleCategory">Politics</p>
                        <button type="button" class="btn btn-primary">Save Article</button>
                    </div> --}}
                </div>
                <div class="col-lg-4" id="articleCard">
                    {{!-- <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="Test Image">
                        <div class="card-body">
                            <h5 class="card-title" id="articleTitle">Card title</h5>
                            <p class="card-text" id="articleSummary">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <p class="card-text" id="articleCategory">Politics</p>
                            <button type="button" class="btn btn-primary">Save Article</button>
                        </div>
                    </div> --}}
                </div>
                <div class="col-lg-4" id="articleCard">
                    {{!-- <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div> --}}
                </div>
                <div class="col-lg-4" id="articleCard">
                    {{!-- <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div> --}}
                </div>
            </div>
        </div>
    </section>

{{>footer}}