{{!-- Page of all saved articles --}}
{{>saveNav}}

<section id="savedSection">
    <div class="container articleContainer">
        <div class="row" id="savedArticleRow"></div>
    </div>
 
    {{>comment}}
 

</section>

{{>footer}}