{{!-- Page of all saved articles --}}
{{>saveNav}}

<section id="savedSection">
    <h1 class="articleHeader text-center bg-warning">Your Saved Articles</h1>
    <div class="container articleContainer">
        <div class="row" id="savedArticleRow"></div>
    </div>
 
    {{>comment}}
 

</section>

{{>footer}}